/****BREAKPOINTS****/

$touch-from: 425px;
$tablet-from: 760px;
$laptop-from: 1024px;
$desktop-from: 1440px;

$mobile-until: $touch-from;
$touch-until: $tablet-from;
$tablet-until: $laptop-from;
$laptop-until: $desktop-from;

/****FONT****/
$root-font: 18px;
////
$fontsize-1: 0.8rem;
$fontsize-2: $root-font;
$fontsize-3: 1.4rem;
$fontsize-4: 2rem;
$fontsize-5: 2.8rem;
$fontsize-6: 3.6rem;
////////
$root-lineheight: 1.6;
////
$lineheight-1: 1.2;
$lineheight-2: $root-lineheight;
$lineheight-3: 1.6;
$lineheight-4: 1.8;
$lineheight-5: 2;
$lineheight-6: 2.4;

/****PADDING****/
$padding-1: 0.2rem;
$padding-2: 0.4rem;
$padding-3: 0.6rem;
$padding-4: 0.8rem;
$padding-5: 1rem;
$padding-6: 1.2rem;
$padding-7: 1.4rem;
$padding-8: 1.6rem;
$padding-9: 1.8rem;
$padding-10: 2rem;
$padding-11: 2.6rem;
$padding-12: 3.2rem;
////
$very-light-padding: $padding-1;
$light-padding: $padding-3;
$medium-padding: $padding-5;
$heavy-padding: $padding-8;
$very-heavy-padding: $padding-10;

/****MARGINS****/
$margin-1: 0.4rem;
$margin-2: 0.8rem;
$margin-3: 1.2rem;
$margin-4: 1.8rem;
$margin-5: 2.4rem;
$margin-6: 3rem;
$margin-7: 3.6rem;
$margin-8: 4.2rem;
$margin-9: 5rem;
$margin-10: 6.2rem;
$margin-11: 7.6rem;
$margin-12: 10rem;
////
$very-light-margin: $margin-1;
$light-margin: $margin-3;
$medium-margin: $margin-5;
$heavy-margin: $margin-8;
$very-heavy-margin: $margin-12;

html {
  font-size: $root-font;
  line-height: $root-lineheight;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/****IMPORTS****/
@import './scaffolding/columns' ; 
@import './scaffolding/containers' ; 
@import './scaffolding/position' ; 
@import './scaffolding/padding' ; 
@import './scaffolding/margin' ; 
@import './theme/font' ; 