/****CONFIG****/
$nav-color: $offset-color;

$nav-background: $primary-brand;
$nav-link-hover: $secondary-brand;


/****Nav Components****/

.nav-bar {
  color: $nav-color;
  background-color: $nav-background;
}

.nav-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-item {
  position: relative;
  display: inline-block;
  text-align: center;
}
.nav-item:hover { 
  cursor: pointer;
  background-color: $nav-link-hover;
  
  .dropdown-wrapper {
    display: block;
  }
}

//Dropdowns//

.dropdown-wrapper {
  width: 100%;
  position: absolute;
  display: none;
  z-index: 5;
}

//Burger Icon//

.burger-container {
    overflow: visible;
}

.burger-container:hover {
    cursor: pointer;
}

.burger-bar {
    background-color: $nav-color;
    height: 5px;
    width: 50px;
    margin: 5px auto;
    border-radius: 15px;
    transform-origin: 50%;
    transition: all;
    transition-duration: 0.4s;
    transition-timing-function: ease;
}

.burger-bar:hover {
    transform: scale(1.1) ; 
}


.burger-container.is-active {
    
  .bar-1 {
    position: relative;
    transform: translate(0px, 10px) rotate(-135deg);
  }
  .bar-2 {
    transform: scale(0);
  }
  .bar-3 {
    position: relative;
    transform:  translate(0px, -10px) rotate(135deg);
  }
}

//Mobile Menu

.mobile-nav-wrapper {
  color: $nav-color;
  background-color: $nav-background;
  position: absolute;
  display: block;
  z-index: 5;
}









