/****CONFIG****/
$nav-color: $offset-color;

$nav-background: $brand-1;
$nav-link-hover: $brand-2;

@mixin transition() {
  transition: all;
  transition-duration: 0.4s;
  transition-timing-function: ease;
}

/****Nav Components****/

.nav-bar {
  color: $nav-color;
  background-color: $nav-background;
  z-index:5;
}

.nav-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-item {
  position: relative;
  display: inline-block;
  text-align: center;
}
.nav-item:hover { 
  cursor: pointer;
  background-color: $nav-link-hover;
  
  .dropdown-wrapper {
    display: block;
  }
}

//Dropdowns//

.dropdown-wrapper {
  position: absolute;
  color: $nav-color;
  display: none;
  z-index: 5;
}

.dropdown-item {
  color: $nav-color;
  background-color: $nav-background;
  border-radius: 15px;
}

.dropdown-item:hover {
  background-color: $nav-link-hover;
}

//Burger Icon//

.burger-container  {
    overflow: visible;
}

.burger-container:hover {
    cursor: pointer;
}

.burger-bar {
    background-color: $nav-color;
    height: 5px;
    width: 50px;
    margin: 5px auto;
    border-radius: 15px;
    transform-origin: 50%;
    @include transition() ; 
}

.burger-bar:hover {
    transform: scale(1.1) ; 
}


.burger-container.is-active {
    
  .bar-1 {
    position: relative;
    transform: translate(0px, 10px) rotate(-135deg);
  }
  .bar-2 {
    transform: scale(0);
  }
  .bar-3 {
    position: relative;
    transform:  translate(0px, -10px) rotate(135deg);
  }
}

//Mobile Menu

.mobile-nav-wrapper {
  color: $nav-color;
  background-color: $nav-background;
  position: absolute;
  display: block;
  z-index: 5;
  border-radius: 15px;
  @include transition() ;
  overflow: hidden;
}

.mobile-nav-item {

}

.mobile-nav-link:hover {
  cursor: pointer;
  background-color: $nav-link-hover;
}

//Dropdowns

.mobile-dropdown-wrapper {
  max-height: 0px;
  overflow: hidden;
  @include transition() ;
}

.mobile-dropdown-item:hover {
  display: block;
  background-color: $nav-link-hover;
  @include transition() ;
}

.mobile-dropdown-wrapper.is-active {
  max-height: 500px;
}


//Dropdown Arrows

.dropdown-arrow-container:hover {
  cursor: pointer;
  background-color: $nav-link-hover;
}

.arrow-bar {
  background-color: $nav-color;
  height: 4px;
  width: 14px;
  border-radius: 25px;
  transform-origin: 50%;
  @include transition() ;
   
}

.arrow-bar.bar-1 {
    position: relative;
    transform: translate(-4px, 2px) rotate(45deg);
  }
  
.arrow-bar.bar-2 {
    position: relative;
    transform: translate(4px, -2px) rotate(-45deg);
  }

.dropdown-arrow-container.is-active {
  
  .bar-1 {
    transform: translate(-4px, 2px) rotate(-45deg);
  }
  
  .bar-2 {
    transform: translate(4px, -2px) rotate(45deg);
  }
  
}









