/****Base****/

.row {
  position: relative;
  width: 100%;
  display: flex;
}

.container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
}

/****Modifiers****/

.hidden {display: none;}
.can-wrap {flex-wrap: wrap;}
.no-wrap {flex-wrap: wrap;}

//'Until' device//
$breakpoints: (
  touch: $mobile-until,
  tablet: $touch-until,
  laptop: $tablet-until,
  desktop: $laptop-until
) ; 

@each $key, $breakpoint in $breakpoints {
  
  @media screen and (max-width: $breakpoint) {
    .hidden-until-#{$key} {display: none;}  
    .can-wrap-until-#{$key} {flex-wrap: wrap;}
    .no-wrap-until-#{$key} {flex-wrap: nowrap;}
  }
  
  @media screen and (min-width: $breakpoint) {
    .hidden-from-#{$key} {display: none;}
    .can-wrap-from-#{$key} {flex-wrap: wrap;}
    .no-wrap-from-#{$key} {flex-wrap: nowrap;}  
  }
  
}

.fill-default {background-color: $offset-color;}
.fill-brand-1 {background-color: $brand-1;}
.fill-brand-2 {background-color: $brand-2;}
.fill-brand-3 {background-color: $brand-3;}
.fill-brand-4 {background-color: $brand-4;}
.fill-brand-5 {background-color: $brand-5;}

  

  

  







  
