/****Base****/

//Justification
.x-center {justify-content: center;}
.x-around {justify-content: space-around;}
.x-between {justify-content: space-between;}
.x-start {justify-content: flex-start;}
.x-end {justify-content: flex-end;}

//Item Alignment 
.y-center {align-items: center;}
.y-stretch {align-items: stretch;}
.y-end {align-items: flex-end;}
.y-start {align-items: flex-start;}
.y-baseline {align-items: baseline;}

//Content Alignment
.yc-center {align-content: center;}
.yc-around {align-content: space-around;}
.yc-between {align-content: space-between;}
.yc-stretch {align-content: stretch;}
.yc-start {align-content: flex-start;}
.yc-end {align-content: flex-end;}

//Combined
.xy-center {justify-content: center; align-items: center;}


//'Until device'//
$until-breakpoints: (
  touch: $mobile-until,
  tablet: $touch-until,
  laptop: $tablet-until,
  desktop: $laptop-until
) ; 

@each $key, $breakpoint in $until-breakpoints {
  
  @media screen and (max-width: $breakpoint) {
    
    .x-center-until-#{$key} {justify-content: center;}
    .x-around-until-#{$key} {justify-content: space-around;}
    .x-between-until-#{$key} {justify-content: space-between;}
    .x-start-until-#{$key} {justify-content: flex-start;}
    .x-end-until-#{$key} {justify-content: flex-end;}
    
    .y-center-until-#{$key} {align-items: center;}
    .y-stretch-until-#{$key} {align-items: stretch;}
    .y-end-until-#{$key} {align-items: flex-end;}
    .y-start-until-#{$key} {align-items: flex-start;}
    .y-baseline-until-#{$key} {align-items: baseline;}
    
    .yc-center-until-#{$key} {align-content: center;}
    .yc-around-until-#{$key} {align-content: space-around;}
    .yc-between-until-#{$key} {align-content: space-between;}
    .yc-stretch-until-#{$key} {align-content: stretch;}
    .yc-start-until-#{$key} {align-content: flex-start;}
    .yc-end-until-#{$key} {align-content: flex-end;}

    .xy-center-until-#{$key} {justify-content: center; align-items: center;}
  }  
}

//'From' device//
$from-breakpoints: (
  touch: $touch-from,
  tablet: $tablet-from,
  laptop: $laptop-from,
  desktop: $desktop-from
) ; 

@each $key, $breakpoint in $from-breakpoints {

@media screen and (min-width: $breakpoint) {
  
    .x-center-from-#{$key} {justify-content: center;}
    .x-around-from-#{$key} {justify-content: space-around;}
    .x-between-from-#{$key} {justify-content: space-between;}
    .x-start-from-#{$key} {justify-content: flex-start;}
    .x-end-from-#{$key} {justify-content: flex-end;}
    
    .y-center-from-#{$key} {align-items: center;}
    .y-stretch-from-#{$key} {align-items: stretch;}
    .y-end-from-#{$key} {align-items: flex-end;}
    .y-start-from-#{$key} {align-items: flex-start;}
    .y-baseline-from-#{$key} {align-items: baseline;}
    
    .yc-center-from-#{$key} {align-content: center;}
    .yc-around-from-#{$key} {align-content: space-around;}
    .yc-between-from-#{$key} {align-content: space-between;}
    .yc-stretch-from-#{$key} {align-content: stretch;}
    .yc-start-from-#{$key} {align-content: flex-start;}
    .yc-end-from-#{$key} {align-content: flex-end;}

    .xy-center-from-#{$key} {justify-content: center; align-items: center;}
  }
}