$sizes: (
  smallest: $font-size-smallest,
  smaller: $font-size-smaller,
  small: $font-size-small,
  medium: $font-size-medium,
  large: $font-size-large,
  larger: $font-size-larger,
  largest: $font-size-largest
);

$leaders: (
  none: $line-height-none,
  smallest: $line-height-smallest,
  smaller: $line-height-smaller,
  small: $line-height-small,
  medium: $line-height-medium,
  large: $line-height-large,
  larger: $line-height-larger,
  largest: $line-height-largest
) ; 

$breakpoints: (
  touch: $mobile-until,
  tablet: $touch-until,
  laptop: $tablet-until,
  desktop: $laptop-until
) ; 

//Sizing
@each $key, $size in $sizes {
  .font-size-#{$key} {font-size: $size}  
  
  @each $ref, $breakpoint in $breakpoints {
    
    @media screen and (max-width: $breakpoint) {
      .font-size-#{$key}-until-#{$ref} {font-size: $size}
    }
    
    @media screen and (min-width: $breakpoint) {
      .font-size-#{$key}-from-#{$ref} {font-size: $size} 
    } 
  }
}

//Line height
@each $key, $lead in $leaders {
  .line-height-#{$key} {line-height: $lead}  
  
  @each $ref, $breakpoint in $breakpoints {
    
    @media screen and (max-width: $breakpoint) {
      .line-height-#{$key}-until-#{$ref} {line-height: $lead}
    }
    
    @media screen and (min-width: $breakpoint) {
      .line-height-#{$key}-from-#{$ref} {line-height: $lead} 
    } 
  }
}

//Alignment 
@each $align in center, justify, left, right {
  .text-align-#{$align} {text-align: $align;}
}  

//Color
.font-offset {color: $offset-color;}
.brand-1 {color: $brand-1;}
.brand-2 {color: $brand-2;}
.brand-3 {color: $brand-3;}
.brand-4 {color: $brand-4;}
.brand-5 {color: $brand-5;}






