//Font Color
.font-offset {color: $offset-color;}
.brand-1 {color: $brand-1;}
.brand-2 {color: $brand-2;}
.brand-3 {color: $brand-3;}
.brand-4 {color: $brand-4;}
.brand-5 {color: $brand-5;}

//Background Color
.fill-default {background-color: $offset-color;}
.fill-brand-1 {background-color: $brand-1;}
.fill-brand-2 {background-color: $brand-2;}
.fill-brand-3 {background-color: $brand-3;}
.fill-brand-4 {background-color: $brand-4;}
.fill-brand-5 {background-color: $brand-5;}