/*************************************
***********CONTAINERS****************
************************************/


/****Base****/

%row {
  position: relative;
  width: 100%;
  display: flex;
}

@mixin row($x, $y) {
  @extend %row;
  @include justify($x) ; 
  @include align($y) ; 
}


%container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

@mixin container($x, $y) {
  @extend %container;
  @include justify($x) ; 
  @include align($y) ; 
}


%wrapper {
  display: flex;
  flex-wrap: wrap;
}

@mixin wrapper($x, $y) {
  @extend %wrapper;
  @include justify($x) ; 
  @include align($y) ;
}

/****Breakpoint Concious****/

/****Hide Element****/
@mixin hidden-until ($breakpoint) {
  @media screen and (max-width: $breakpoint) {
    display: none;
  }
}

@mixin hidden-from ($breakpoint) {
  @media screen and (min-width: $breakpoint) {
    display: none;
  }
}


/****Prevent Wrapping****/
@mixin nowrap-until($breakpoint) {
  @media screen and (max-width: $breakpoint) {
    flex-wrap: nowrap;
  }
}

@mixin nowrap-from($breakpoint) {
  @media screen and (min-width: $breakpoint) {
    flex-wrap: nowrap;
  }
}


/****Allow Wrapping****/
@mixin can-wrap-until($breakpoint) {
  @media screen and (max-width: $breakpoint) {
    flex-wrap: wrap;
  }
}

@mixin can-wrap-from($breakpoint) {
  @media screen and (min-width: $breakpoint) {
    flex-wrap: wrap;
  }
}