$sizes: (
  1:$fontsize-1,
  2:$fontsize-2,
  3:$fontsize-3,
  4:$fontsize-4,
  5:$fontsize-5,
  6:$fontsize-6
);

$leaders: (
  1:$lineheight-1,
  2:$lineheight-2,
  3:$lineheight-3,
  4:$lineheight-4,
  5:$lineheight-5,
  6:$lineheight-6,
) ; 

$breakpoints: (
  touch: $mobile-until,
  tablet: $touch-until,
  laptop: $tablet-until,
  desktop: $laptop-until
) ; 

@each $key, $size in $sizes {
  .fontsize-#{$key} {font-size: $size}  
  
  @each $ref, $breakpoint in $breakpoints {
    
    @media screen and (max-width: $breakpoint) {
      .fontsize-#{$key}-until-#{$ref} {font-size: $size}
    }
    
    @media screen and (min-width: $breakpoint) {
      .fontsize-#{$key}-from-#{$ref} {font-size: $size} 
    } 
  }
}

@each $key, $lead in $leaders {
  .lineheight-#{$key} {line-height: $lead}  
  
  @each $ref, $breakpoint in $breakpoints {
    
    @media screen and (max-width: $breakpoint) {
      .lineheight-#{$key}-until-#{$ref} {line-height: $lead}
    }
    
    @media screen and (min-width: $breakpoint) {
      .lineheight-#{$key}-from-#{$ref} {line-height: $lead} 
    } 
  }
}
